[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tqdm = "*"
telepot = "*"
python-telegram-bot = "*"
mongoengine = "*"

[dev-packages]

[requires]
python_version = "3.7"
